.basic {
  padding: 10px;
}

label {
  float: left;
}

.labelGuesses {
  position: relative;
  left: 31rem;
}

span {
  display: block;
  overflow: hidden;
  padding: 0px 4px 0px 6px;
}

.number {
  position: relative;
  top: -8px;
}
.guessesLeft {
  position: relative;
  padding: 5rem;
  top: 150px;
  text-align: center;
}

.submitGuess {
  position: relative;
  padding-top: 50px;
  top: 40px;
  text-align: center;
  margin-bottom: -50px;
}

.word {
  position: relative;
  text-align: center;
}

.lineUp {
  display: inline-block;
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 20px;
  top: 150px;
  user-select: none;
  font-size: 50px;
  margin-bottom: 0px;
}

.hangContainer {
  position: absolute;
  left: 150px;
  top: 240px;
}

.headOverlay {
  height: 125px;
  width: 100px;
  background-color: white;
  top: 30px;
  position: absolute;
  left: -17px;
}

.bodyOverlay {
  height: 100px;
  width: 100px;
  background-color: white;
  top: 59px;
  position: absolute;
  left: -17px;
}

.lHandOverlay {
  height: 50px;
  width: 50px;
  background-color: white;
  top: 59px;
  position: absolute;
  left: -18px;
}

.rHandOverlay {
  height: 50px;
  width: 50px;
  background-color: white;
  top: 60px;
  position: absolute;
  left: 37px;
}

.lLegOverlay {
  height: 50px;
  width: 50px;
  background-color: white;
  top: 115px;
  position: absolute;
  left: -18px;
}

.rLegOverlay {
  height: 50px;
  width: 50px;
  background-color: white;
  top: 116px;
  position: absolute;
  left: 37px;
}
